

header {
    padding-left: 7rem;
    padding-right: 7rem;
}

/* Navigation Styling */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
    align-items: center;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.logo {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
}

.btn {
    text-align: end;
}

