

header {
    padding-left: 7rem;
    padding-right: 7rem;
}

/* Navigation Styling */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
    align-items: center;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.logo {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
}

.btn {
    text-align: end;
}

/* Home Section Styling */
.section {
    padding-left: 7rem;
    padding-right: 7rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-image {
    height: 80vh;
    width: 350px;
    object-fit: cover;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: blue;
}


