body {
    background-color: #edeeda;
}

header {
    padding-left: 7rem;
    padding-right: 7rem;
}

/* Navigation Styling */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
    align-items: center;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.nav-link a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
}

.logo {
    text-align: center;
    font-size: 48px;
    line-height: 56px;
}

.btn {
    text-align: end;
}

/* Home Section Styling */
.section {
    padding-left: 7rem;
    padding-right: 7rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    font-size: 36px;
    transform: translate(18%, -170%);
}

.circle {
    height: 200px;
    width: 200px;
    border: 0.2px solid #1e1e1e;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 11rem;
    left: 20.9rem;
}

.home-image {
    height: 80vh;
    width: 350px;
    object-fit: cover;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ffffff;
}

/* ---- Footer Section ------- */
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 7rem;
    padding-right: 7rem;
}

.email {
    color: gray;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-links i {
    padding: 0.4rem;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #1e1e1e;
    color: #edeeda;
    cursor: pointer;
}